extends layout

mixin big-block(obj, text)
  big-block
    p
      small=obj.date
    p It has been
    h1
      = obj.days.toLocaleString('en-US')
      | 
      span= obj.days == 1 ? 'day' : 'days' 
    p=text
    hr

block content
  +big-block(council, 'since Jersey City promised safety improvements on St. Pauls Avenue.')
  +big-block(pedestrianStruck, 'since a vehicle struck a pedestrian on St. Pauls Avenue triggering more calls for safety.')
  +big-block(walkingAudit, 'since Jersey City conducted a walking audit to experience the problems on St. Pauls Avenue')
  +big-block(grandma, 'a grandmother was killed on St. Pauls Avenue while picking up her grandchild from PS 31.')