@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;800&display=swap");

big-block {
  display: flex;
  font-weight: 200;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  font-size: 3em;
  text-align: left;
  font-family: "Inter", sans-serif;
}

big-block h1 {
  display: block;
  font-weight: 800;
  font-size:7rem;
}

big-block h1 span {
  font-weight: 400;
}

big-block p, big-block h1 {
  margin: 0.25em 0;
}

big-block p small {
  display: block;
  font-size: 0.5em;
  text-transform: uppercase;
  color: rgba(125,0,0, 0.4);
  margin: 4em auto;
}

big-block hr {
  margin-top: auto;
  width: 100%;
  border-top: 1px solid rgba(0,0,0, 0.1);
}

@media only screen and (max-width: 600px) {
  big-block {
    width: 100%;
    margin: 1em 5px 0px 5px;
    text-align: left;
    font-size: 1.75em;
  }
  
  big-block h1 {
    font-size:6rem;
  }  
} 